
.grid_main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color:  #EDE4E0;
}
.bg-lighttext-center{
    display: flex;
    justify-content: center;

}
.container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.container--narrow{
padding: 1rem 0;
}

.container--narrow p{
    padding: 1rem 0;
}
.image{
align-self: center;
}

.image img{
    padding: 1rem 0;
    width: 100%;
    height: auto;
    max-width: 720px;
}
.instructions{
    align-self: center;
    padding: 1.5rem 0;
}

.instructions p{
    text-align: center;
    padding: 1rem 8rem 0 8rem;
    line-height: 1.25rem;
}
.ingredients {
    padding:1.5rem 0;
text-align: center;
}
.ingredients h4{
    padding: 0 0 1rem 0;
}
.ingredients li{
    padding: 0.5rem;
}

h1{
    font-size: 4rem;
    padding: 1.5rem 0;
}

h2,h3,h4{
    text-align: center;
    font-size:3rem;
}
