.Header {
    display:flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    

}

#back {
    background-color: #282727;
   
}

#div2 {
    display: flex;
    justify-content: center;
    margin:0;
    padding: 0;
    height:100px;
    

}

#div2 p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(14, 185, 253);
    font-size: 3rem;


}

NavLink .active {
color: red;

}

.nav {
color: red;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 3rem;

}

select {

    background-color: rgb(144, 144, 166);
}
