.Header {
    display:flex;
    justify-content: space-between;
    background-color: #1a1b1d;
    height: 100px;
    align-items: center;
    

}

NavLink .active {
color: red;

}

.nav {
color: red;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 3rem;

}

select {

    background-color: rgb(144, 144, 166);
}
