.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
}
.nav-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.nav-container a{
    text-decoration: none;
}
.contacts-container{
    display: grid;
    grid-template-columns: 1fr  1fr;
    gap: 1rem;

}
.socials{
    display: flex;
    justify-content: center;
    gap:0.5rem;
}
.socials img{
    height:30px;
}