.footer-container{
    display: flex;
    justify-content: space-around;
    padding: 0.25rem;
}
.nav-container{
    display: flex;
    gap: 0.5rem;
}
.nav-container a{
    text-decoration: none;
}
.contacts-container{
    display:flex;
    flex-direction: column;
}
.socials{
}
.socials img{
    height:30px;
}