.logo_head{
    height: 3em;
}
.nav_head{
    display: flex;
    gap: 1rem;
    align-items: baseline;
}
.nav_head *:hover{
color: #f74abb;
}
.nav_head a{
    text-decoration: none;
}

.select_head{
    background-color: transparent;
    border-color: transparent;
    color: rgba(246, 247, 249, 0.547);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    width: 7em;
}

.option_head{
    color: rgba(246, 247, 249, 0.547);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    background-color: #282727;
}

.option_head:first-of-type {
    display: none;
  }


  .left_head{
    display: flex;
    align-items: center;
  }